{
    "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true,
    },
    "settings": {
      "import/resolver": {
        "node": {
          "moduleDirectory": ["node_modules", "src/"],
        },
      },
    },
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "semi": [1, "never"],
    },
}
